.animate-marquee {
  animation: marquee var(--duration, 40s) linear infinite;
}

.animate-marquee-vertical {
  animation: marqueeVertical var(--duration, 40s) linear infinite;
}

.direction-reverse {
  animation-direction: reverse;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap, 1rem)));
  }
}

@keyframes marqueeVertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-100% - var(--gap, 1rem)));
  }
}
